.sector-1 {
    /* width: 200px;
    height: 150px;
    background: red;
    -webkit-clip-path: polygon(20% 10%, 85% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 10%, 85% 30%, 100% 100%, 0% 100%); */
}